@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'IBM Plex Mono', monospace;
  }
}

@layer components {
  .nav-link {
    @apply text-primary-300 hover:text-primary-100 transition-colors;
  }
  
  .btn-accent {
    @apply text-accent-400 hover:text-accent-300 transition-colors inline-flex items-center space-x-2;
  }
  
  .btn-primary {
    @apply text-primary-300 hover:text-primary-100 transition-colors inline-flex items-center space-x-2;
  }

   /* Abbreviation component */
  .abbr {
    @apply relative inline-block text-primary-300 cursor-help w-min whitespace-nowrap transition-[width];
    border-bottom: 1px dotted rgb(159, 192, 174); /* primary-300 */
  }

  .abbr::before {
    content: attr(data-abbreviated);
  }

  .abbr:hover {
    width: var(--expanded-width);
    @apply text-primary-100;
  }

  .abbr:hover::before {
    content: attr(data-expanded);
  }
}
