@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'IBM Plex Mono', monospace;
  }

  body {
    @apply bg-primary-900 text-primary-100 min-h-screen font-mono;
  }

  main {
    @apply max-w-6xl mx-auto px-4 py-16;
  }

  h1 {
    @apply text-4xl font-bold text-primary-100 mb-12;
  }
}

@layer components {
  .nav-link {
    @apply text-primary-300 hover:text-primary-100 transition-colors;
  }
  
  .btn-accent {
    @apply text-accent-400 hover:text-accent-300 transition-colors inline-flex items-center space-x-2;
  }
  
  .btn-primary {
    @apply text-primary-300 hover:text-primary-100 transition-colors inline-flex items-center space-x-2;
  }

   /* Abbreviation component */
  .abbr {
    @apply relative inline-block text-primary-300 cursor-help w-min whitespace-nowrap transition-[width];
    border-bottom: 1px dotted rgb(159, 192, 174); /* primary-300 */
  }

  .abbr::before {
    content: attr(data-abbreviated);
  }

  .abbr:hover {
    width: var(--expanded-width);
    @apply text-primary-100;
  }

  .abbr:hover::before {
    content: attr(data-expanded);
  }

  /* Code Blocks */

  .code-block {
    @apply font-mono bg-black/90 rounded-md p-4 my-4 border border-primary-600 overflow-x-auto text-sm;
  }

  .code-content {
    @apply whitespace-pre;
    margin-left: -8rem;
  }

  .code-comment {
    @apply text-primary-400 opacity-75;
  }

  .code-keyword {
    @apply text-accent-300;
  }
}
